<%- include("_header") -%>

<h2>Customer Export</h2>

<h4>Total number of records in the Database: <%= totRecs %></h4>
<h4>Enter a file name and click "Export Customers"</h4>

<h4>File Name:</h4> <input></input>
<button class="buttonC" type="submit" role="button" value="Export Customers" >Export Customers</button>
<%- include("_footer") -%> 