<%- include("_header") -%>

<h2>Customer Import</h2>

<h4>Total number of records in the database: <span style="color: lightgreen;"><%= totRecs %></span></h4>
<h4>Select a file with customers for Database insert</h4>
<form>
    <input type="file" name="filename" required><p></p>
    <!-- <button type="submit" class="buttonC">Import Customers</button> -->
    <button class="button-82-pushable" role="button" type="submit"><span class="button-82-shadow"></span><span
            class="button-82-edge"></span><span class="button-82-front text">Import Customers</span></button>
</form>
<p id="result"></p>

<p id="result"></p>

<script>
    document.querySelector("form").addEventListener("submit", e => {
      e.preventDefault();
      const formData = new FormData(e.target);
      fetch("/import", {
        method: "POST",
        body: formData
      })
        .then(response => response.text())
        .then(data => {
            const resultElement = document.getElementById("result");
            if (data.substring(0,5) === "Error") {
                resultElement.innerText = `Error occurred!  ${data}`
            } else {
                resultElement.innerText = data;
            };
        })
        .catch(err => {
            document.getElementById("message").textContent = `Error: ${err.message}`;
        });
    });
    </script>

<%- include("_footer") -%>  

